@import url(https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap);
.swal-modal {
    background: #0a0a0a;
}
.swal-title {
    color: #f5f5f5;
}
.swal-text {
    color: #6b6b6b;
}
.swal-button--cancel {
    opacity: 50%;
}
.swal-button:not([disabled]):hover {
    background: #2e8b57;
}
.swal-content__input,
.swal-content__textarea {
    background: #484848;
    color: #f5f5f5;
    border: none;
    border-radius: 15px;
    font-family: mitr;
}
.swal-button {
    background: #3a3a3a;
    border: none;
    font-size: 14pt;
    border-radius: 10px;
    color: #f5f5f5;
    font-family: mitr;
}
.swal-button:not([disabled]):hover {
    background: #2e8b57;
}